# VS related files
/ipch
*.opensdf
*.sdf
*.suo
*.vcxproj.user

# Compilation results
/Bin
/Obj
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.a
*.o

# AntTweakBar intermediate files
/AntTweakBar/src/debug32
/AntTweakBar/src/debug64
/AntTweakBar/src/release32
/AntTweakBar/src/release64

# AntTweakBar output directory
/AntTweakBar/lib

# CMake files
CMakeCache.txt
CMakeFiles
*.pc
cmake_install.cmake
BulletConfig.cmake
Makefile
