# VS related files
/ipch
*.opensdf
*.sdf
*.suo
*.vcxproj.user

# Compilation results
/Bin
/Obj
*.dll
*.lib
*.pdb
*.exp
*.ilk

# AntTweakBar intermediate files
/AntTweakBar/src/debug32
/AntTweakBar/src/debug64
/AntTweakBar/src/release32
/AntTweakBar/src/release64
