# VS related files
/ipch
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.VC.db
*.VC.opendb

# Compilation results
/Bin
/Obj
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.a
*.so
*.o

# CMake files
CMakeCache.txt
CMakeFiles
*.pc
cmake_install.cmake
BulletConfig.cmake
Makefile
